.imagem-carrosel {
    object-fit: cover;
    /* object-position: 0 80%; */
    height: 400px;
}

.imagem-card {
    object-fit: cover;
    height: 200px;
}

.font-titulo {
    font-family: "Pacifico", cursive;
}

.cor-titulo {
    color: #4c311f!important; 
}

.cor-botao {
    background-color: darkred;
    color: white;
}

.cor-borda {
    border-color: darkred;
}

.card-layout {
    max-width: 18rem;
}
